.table-farms__delete-button button{
    background-color: #be0600 !important;
}

.table-farms__overview-button button{
    background-color: #3aa648 !important;
}

.table-farms__edit-button button {
    background-color: #2e59a6 !important;
    margin-right : 20px !important;
}

.table-farms__button-place {
    text-align: center !important;
}
